doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="description" content="some description about the slides")
    meta(name="author" content="You")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    header
      h1 meganetaaan's slides
      hr
      nav
        ul
          li: a(href='maintainable-presentation/index.html') maintainable-presentation
          li: a(href='perfect-javascript-chapter9/index.html') パーフェクトJavaScript 第9章
          li: a(href='perfect-javascript-chapter10/index.html') パーフェクトJavaScript 第10章
          li: a(href='readable-code-chapter15/index.html') readable code chapter15
