color-accent = #9d3232

.row
  display flex
  flex-direction row
  .col-1
    flex-grow 1
  .col-2
    flex-grow 2
  .col-3 
    flex-grow 3
  .col-4
    flex-grow 4
  .col-5
    flex-grow 5
  .col-7
    flex-grow 7
  .col-8
    flex-grow 8

h1,h2,h3,h4,h5,h6
  &.highlight
    color color-accent
